* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;
    background-color: #0F0804;
}

.header {
    height: 100vh;
    background-image: url(images/13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 80.49%, #0F0804 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__title {
    margin: auto;
    font-size: 96px;
    text-align: center;
    color: white;
    max-width: 658px;
    font-weight: 400;
}

.header__link {
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(11.5px);
}

.header__link:hover {
    opacity: .8;
}

.header__anchor {
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    /* Выключает точки у списка */
    list-style-type: none;
    margin: 173px auto;

    display:flex;
    max-width: 1060px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;

}

.gallery__item {
    max-width: 330px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery__item::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: none;

}

.gallery__item:hover::after,
.gallery__item:hover .image-title {
    display: block;
    transition: 0.2s;
}


.image {
    width: 100%;
}

.footer {
    height: 100vh;
    background-image: url(./images/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__overlay {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0F0804 0%, rgba(0, 0, 0, 0.6) 100%);
}

.footer__text {
    margin: auto;
    font-size: 40px;
    color: white;
}

.icon-btn {
    flex-shrink: 0;
    line-height: 0;
    width: 39.11px;
    height: 32.1px;
    border: none;
    background-position: center center;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    transition: background-image 0.2s ease-in-out;
}

.btn-like {
    background-image: url('../Images/Union.svg');
    display: block !important;
}

.btn-like:hover {
    background-image: url('../images/Union1.svg');
}

.btn-save {
    background-image: url('../images/Rectangle11.svg');
    display: block !important;
}

.btn-save:hover {
    background-image: url('../images/Rectangle14.svg');
}

.card-actions {
    display: flex;
    position: absolute;
    align-items: center;
    top: 403.9px;
    right: 27px;
    left: 213px;
    gap: 20.89px;
    z-index: 999;
}

.image-title {
    max-width: 260px;
    font-size: 24px;
    text-align: center;
    color: aliceblue;
    position: absolute;
    z-index: 1;
    display: none;
}







